In [36]:

# Importing pandas library
import pandas as pd
 
# dictionary
values = {'col2': [6, 7, 8,
                   9, 10],
          'col3': [11, 12, 13,
                   14, 15]}
 
# Creating dataframe
df = pd.DataFrame(values)
 
# show the dataframe
df

   col2  col3
0     6    11
1     7    12
2     8    13
3     9    14
4    10    15

In [37]:
# adding a new column
 
df['col1']=0
 
# show the dataframe
df = df[list(('col1','col2','col3'))]
 
# show the dataframe
df

   col1  col2  col3
0     0     6    11
1     0     7    12
2     0     8    13
3     0     9    14
4     0    10    15

In [38]:
# New column to be added
new_col = [1, 2, 3, 4, 5]
 
# Inserting the column at the
# beginning in the DataFrame
df.iloc[0]['col1']=17
# show the dataframe
df

   col1  col2  col3
0    17     6    11
1     0     7    12
2     0     8    13
3     0     9    14
4     0    10    15

In [39]:
df['col1'][3]=188

C:\Users\redoc\AppData\Local\Temp\ipykernel_64248\2379312408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['col1'][3]=188

In [40]:
df

   col1  col2  col3
0    17     6    11
1     0     7    12
2     0     8    13
3   188     9    14
4     0    10    15

In [41]:
import numpy as np

In [42]:
df['col1'][2] = np.nan

C:\Users\redoc\AppData\Local\Temp\ipykernel_64248\3616377408.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  df['col1'][2] = np.nan

In [43]:
df

    col1  col2  col3
0   17.0     6    11
1    0.0     7    12
2    NaN     8    13
3  188.0     9    14
4    0.0    10    15

In [46]:
df2 =pd.read_csv('Data/Movies_Complete (till 554).csv')

In [47]:
df2['Language'][1]

nan

In [48]:
pd.isna(df2['Language'][1])

True

In [49]:
print(type(df2['Language'][1]))

<class 'numpy.float64'>

In [50]:
if pd.isna(df2['Language'][1]) == True:
    shef = 1

In [51]:
shef

1

In [53]:
pd.isnull(df2['Language'][1])

True

In [54]:
pd.isnan(df2['Language'][1])

AttributeError: module 'pandas' has no attribute 'isnan'