In [55]:
from selenium import webdriver
import pandas as pd
from bs4 import BeautifulSoup as bs
from pprint import pprint
import numpy as np
from webdriver_manager.chrome import ChromeDriverManager

In [56]:
df = pd.read_csv('Data\Movie_Scrape_All.csv')

In [57]:
df.head()

,Unnamed: 0,Title,Budget,Worldwide,Domestic,Release
0,0,Indiana Jones and the Kingdom of the Crystal S...,"$185,000,000","$786,635,413","$317,101,119","May 22, 2008"
1,1,Brave,"$185,000,000","$554,606,532","$237,282,182","Jun 21, 2012"
2,2,Kong: Skull Island,"$185,000,000","$561,072,059","$168,052,812","Feb 23, 2017"
3,3,Star Trek Beyond,"$185,000,000","$335,673,708","$158,848,340","Jul 21, 2016"
4,4,Maleficent: Mistress of Evil,"$185,000,000","$489,181,357","$113,929,605","Oct 17, 2019"

In [58]:
df.drop('Unnamed: 0', axis=1, inplace=True)

In [59]:
df.head()

,Title,Budget,Worldwide,Domestic,Release
0,Indiana Jones and the Kingdom of the Crystal S...,"$185,000,000","$786,635,413","$317,101,119","May 22, 2008"
1,Brave,"$185,000,000","$554,606,532","$237,282,182","Jun 21, 2012"
2,Kong: Skull Island,"$185,000,000","$561,072,059","$168,052,812","Feb 23, 2017"
3,Star Trek Beyond,"$185,000,000","$335,673,708","$158,848,340","Jul 21, 2016"
4,Maleficent: Mistress of Evil,"$185,000,000","$489,181,357","$113,929,605","Oct 17, 2019"

Add new columns

In [60]:
df['Duration']=np.nan
df['MPAA Rating']=np.nan
df['IMDB Rating']=np.nan
df['Voter Numbers']=np.nan
df['Metascore']=np.nan
df['Genre']=np.nan
df['Language']=np.nan

In [61]:
df.shape

(6354, 12)

In [62]:
df.head(5)

,Title,Budget,Worldwide,Domestic,Release,Duration,MPAA Rating,IMDB Rating,Voter Numbers,Metascore,Genre,Language
0,Indiana Jones and the Kingdom of the Crystal S...,"$185,000,000","$786,635,413","$317,101,119","May 22, 2008",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Brave,"$185,000,000","$554,606,532","$237,282,182","Jun 21, 2012",NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,Kong: Skull Island,"$185,000,000","$561,072,059","$168,052,812","Feb 23, 2017",NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,Star Trek Beyond,"$185,000,000","$335,673,708","$158,848,340","Jul 21, 2016",NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,Maleficent: Mistress of Evil,"$185,000,000","$489,181,357","$113,929,605","Oct 17, 2019",NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [99]:
movie_indices = np.arange(0,6355,1)
movie_indices

array([   0,    1,    2, ..., 6352, 6353, 6354])

In [64]:
df['Title'][35]

'The Mummy: Tomb of the Dragon Emperor'

In [65]:
wd = webdriver.Chrome(ChromeDriverManager().install())

C:\Users\redoc\AppData\Local\Temp\ipykernel_5000\3832095755.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  wd = webdriver.Chrome(ChromeDriverManager().install())

Go to IMDB Main Site

In [66]:
wd.get('https://www.imdb.com/')

Go to Search Bar

In [67]:
search_movie = wd.find_element("xpath", "//*[@id='suggestion-search']")

Enter Movie Name in Search Bar

In [68]:
search_movie.send_keys("The Chronicles of Narnia: The Lion, the Witch a…")

Click Search Button

In [69]:
wd.find_element("xpath", "//*[@id='suggestion-search-button']").click()

Check each searched page to see first result

Xpath of first result

//*[@id="__next"]/main/div[2]/div[3]/section/div/div[1]/section[2]/div[2]/ul/li[1]/div[2]/div[1]/a

//*[@id="__next"]/main/div[2]/div[3]/section/div/div[1]/section[2]/div[2]/ul/li[1]/div[2]/div[1]/a

//*[@id="__next"]/main/div[2]/div[3]/section/div/div[1]/section[2]/div[2]/ul/li[1]/div[2]/div[1]/a

ALL THE SAME!!!!

In [70]:
movie_link = wd.find_element("xpath", "//*[@id='__next']/main/div[2]/div[3]/section/div/div[1]/section[2]/div[2]/ul/li[1]/div[2]/div[1]/a").get_attribute('href')

Go to movie link website

In [71]:
wd.get(movie_link)

In [72]:
df.columns

Index(['Title', 'Budget', 'Worldwide', 'Domestic', 'Release', 'Duration',
       'MPAA Rating', 'IMDB Rating', 'Voter Numbers', 'Metascore', 'Genre',
       'Language'],
      dtype='object')

In [73]:
import time

Duration

In [74]:
wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/div/ul/li[3]").text

'2h 23m'

In [75]:
time.sleep(6)

MPAA Rating

In [76]:
wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/div/ul/li[2]/span[1]").text

''

In [77]:
time.sleep(6)

IMDB Rating

In [78]:
wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/div[2]/div/div[1]/a/div/div/div[2]/div[1]/span[1]").text

''

In [79]:
time.sleep(6)

Voter Numbers

In [80]:
wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/div[2]/div/div[1]/a/div/div/div[2]/div[3]").text

''

In [81]:
time.sleep(6)

Meta Score

In [82]:
wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/ul/li[3]/a/span/span[1]/span[1]").text

'75'

In [83]:
time.sleep(6)

## Scraping Genre Is the Main Problem

In [84]:
wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/div/section/div/div[1]/section[6]/div[2]/ul[2]/li[2]/div/ul/li[1]/a").text

'Adventure'

I know why. There needs to be a time-out between scrapes or it will come out as NaN

In [ ]:
wd = webdriver.Chrome(ChromeDriverManager().install())

In [ ]:
for movie_index in movie_indices:
    movie_title = df['Title'][movie_index] # get movie title
    wd.get('https://www.imdb.com/') # go to imdb main site
    search_movie = wd.find_element("xpath", "//*[@id='suggestion-search']") # find the search text box
    search_movie.send_keys(movie_title) # key in the movie title in search box
    wd.find_element("xpath", "//*[@id='suggestion-search-button']").click() # click the search button
    # Next find first result on the search page
    movie_link = wd.find_element("xpath", "//*[@id='__next']/main/div[2]/div[3]/section/div/div[1]/section[2]/div[2]/ul/li[1]/div[2]/div[1]/a").get_attribute('href')
    # open the movie link
    wd.get(movie_link)

    df.iloc[movie_index]['Duration']= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/div/ul/li[3]").text
    df.iloc[movie_index]['MPAA Rating']= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/div/ul/li[2]/span[1]").text
    df.iloc[movie_index]['IMDB Rating']= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/div[2]/div/div[1]/a/div/div/div[2]/div[1]/span[1]").text
    df.iloc[movie_index]['Voter Numbers']= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/div[2]/div/div[1]/a/div/div/div[2]/div[3]").text
    df.iloc[movie_index]['Metascore']= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/ul/li[3]/a/span/span[1]/span[1]").text
    df.iloc[movie_index]['Genre']= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/div/section/div/div[1]/section[7]/div[2]/ul[2]/li[1]/div/ul/li[1]/a").text
    #df.iloc[movie_index]['Language']= wd.find_element("xpath","").text

What if I just scrape a column at a time?

In [88]:
print(type(movie_indices[12]))

<class 'numpy.int32'>

In [95]:
wd = webdriver.Chrome(ChromeDriverManager().install())

C:\Users\redoc\AppData\Local\Temp\ipykernel_5000\3832095755.py:1: DeprecationWarning: executable_path has been deprecated, please pass in a Service object
  wd = webdriver.Chrome(ChromeDriverManager().install())

# USE THIS - df['Duration'][movie_index]

This will solve all problems

Scrape ONE COLUMN AT A TIME

In [96]:
for movie_index in movie_indices:
    movie_title = df['Title'][movie_index] # get movie title
    wd.get('https://www.imdb.com/') # go to imdb main site
    search_movie = wd.find_element("xpath", "//*[@id='suggestion-search']") # find the search text box
    search_movie.send_keys(movie_title) # key in the movie title in search box
    wd.find_element("xpath", "//*[@id='suggestion-search-button']").click() # click the search button
    # Next find first result on the search page
    movie_link = wd.find_element("xpath", "//*[@id='__next']/main/div[2]/div[3]/section/div/div[1]/section[2]/div[2]/ul/li[1]/div[2]/div[1]/a").get_attribute('href')
    # open the movie link
    wd.get(movie_link)

    df['Duration'][movie_index]= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/div/ul/li[3]").text
    #df.iloc[movie_index]['MPAA Rating']= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[2]/div[1]/div/ul/li[2]/span[1]").text
    #df.iloc[movie_index]['IMDB Rating']= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/div[2]/div/div[1]/a/div/div/div[2]/div[1]/span[1]").text
    #df.iloc[movie_index]['Voter Numbers']= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[1]/div[2]/div/div[1]/a/div/div/div[2]/div[3]").text
    #df.iloc[movie_index]['Metascore']= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/section/div[3]/section/section/div[3]/div[2]/div[2]/ul/li[3]/a/span/span[1]/span[1]").text
    #df.iloc[movie_index]['Genre']= wd.find_element("xpath","//*[@id='__next']/main/div/section[1]/div/section/div/div[1]/section[7]/div[2]/ul[2]/li[1]/div/ul/li[1]/a").text
    #df.iloc[movie_index]['Language']= wd.find_element("xpath","").text

NoSuchWindowException: Message: no such window: target window already closed
from unknown error: web view not found
  (Session info: chrome=108.0.5359.125)
Stacktrace:
Backtrace:
	(No symbol) [0x00ABF243]
	(No symbol) [0x00A47FD1]
	(No symbol) [0x0093D04D]
	(No symbol) [0x00922D7A]
	(No symbol) [0x0098BE7B]
	(No symbol) [0x0099C196]
	(No symbol) [0x00988386]
	(No symbol) [0x0096163C]
	(No symbol) [0x0096269D]
	GetHandleVerifier [0x00D59A22+2655074]
	GetHandleVerifier [0x00D4CA24+2601828]
	GetHandleVerifier [0x00B68C0A+619850]
	GetHandleVerifier [0x00B67830+614768]
	(No symbol) [0x00A505FC]
	(No symbol) [0x00A55968]
	(No symbol) [0x00A55A55]
	(No symbol) [0x00A6051B]
	BaseThreadInitThunk [0x76B96BD9+25]
	RtlGetFullPathName_UEx [0x774F8FD2+1218]
	RtlGetFullPathName_UEx [0x774F8F9D+1165]

In [98]:
df.head(20)

,Title,Budget,Worldwide,Domestic,Release,Duration,MPAA Rating,IMDB Rating,Voter Numbers,Metascore,Genre,Language
0,Indiana Jones and the Kingdom of the Crystal S...,"$185,000,000","$786,635,413","$317,101,119","May 22, 2008",NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Brave,"$185,000,000","$554,606,532","$237,282,182","Jun 21, 2012",1h 33m,NaN,NaN,NaN,NaN,NaN,NaN
2,Kong: Skull Island,"$185,000,000","$561,072,059","$168,052,812","Feb 23, 2017",1h 58m,NaN,NaN,NaN,NaN,NaN,NaN
3,Star Trek Beyond,"$185,000,000","$335,673,708","$158,848,340","Jul 21, 2016",2h 2m,NaN,NaN,NaN,NaN,NaN,NaN
4,Maleficent: Mistress of Evil,"$185,000,000","$489,181,357","$113,929,605","Oct 17, 2019",1h 59m,NaN,NaN,NaN,NaN,NaN,NaN
5,Blade Runner 2049,"$185,000,000","$258,829,058","$92,054,159","Sep 29, 2017",2h 44m,NaN,NaN,NaN,NaN,NaN,NaN
6,Terminator: Dark Fate,"$185,000,000","$250,367,666","$62,253,077","Oct 25, 2019",2h 8m,NaN,NaN,NaN,NaN,NaN,NaN
7,The Suicide Squad,"$185,000,000","$167,097,737","$55,817,425","Jul 28, 2021",2h 12m,NaN,NaN,NaN,NaN,NaN,NaN
8,Aladdin,"$182,000,000","$1,046,587,513","$355,559,216","May 22, 2019",2h 8m,NaN,NaN,NaN,NaN,NaN,NaN
9,Thor: Ragnarok,"$180,000,000","$850,482,778","$315,058,289","Oct 25, 2017",2h 10m,NaN,NaN,NaN,NaN,NaN,NaN
10,"The Chronicles of Narnia: The Lion, the Witch a…","$180,000,000","$720,539,572","$291,710,957","Dec 9, 2005",2h 23m,NaN,NaN,NaN,NaN,NaN,NaN
11,Maleficent,"$180,000,000","$758,536,735","$241,407,328","May 28, 2014",1h 37m,NaN,NaN,NaN,NaN,NaN,NaN
12,Fantastic Beasts and Where to Find Them,"$180,000,000","$811,724,385","$234,037,575","Nov 14, 2016",2h 12m,NaN,NaN,NaN,NaN,NaN,NaN
13,WALL-E,"$180,000,000","$532,508,025","$223,808,164","Jun 27, 2008",3h,NaN,NaN,NaN,NaN,NaN,NaN
14,Rush Hour 3,"$180,000,000","$256,585,882","$140,125,968","Aug 10, 2007",1h 31m,NaN,NaN,NaN,NaN,NaN,NaN
15,The Legend of Tarzan,"$180,000,000","$348,902,025","$126,643,061","Jun 27, 2016",1h 50m,NaN,NaN,NaN,NaN,NaN,NaN
16,Hugo,"$180,000,000","$180,047,784","$73,864,507","Nov 23, 2011",2h 6m,NaN,NaN,NaN,NaN,NaN,NaN
17,Valerian and the City of a Thousand Planets,"$180,000,000","$215,098,356","$40,479,370","Jul 20, 2017",2h 16m,NaN,NaN,NaN,NaN,NaN,NaN
18,Jupiter Ascending,"$179,000,000","$181,982,519","$47,482,519","Feb 6, 2015",2h 7m,NaN,NaN,NaN,NaN,NaN,NaN
19,Mission: Impossible—Fallout,"$178,000,000","$787,176,729","$220,159,104","Jul 16, 2018",2h 27m,NaN,NaN,NaN,NaN,NaN,NaN

# IT WORKS - SCRAPE COLUMN BY COLUMN